<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry Form</title>
</head>
<body>

<center><h1> Enter your top 3 tasks </h1></center>

    <center>
    <div>

 <form action="/confirm-entry" method="post">

    <label>Priority 1</label> <br>
    <input name="task1"><br>

     <label>Priority 2</label> <br>
    <input name="task2"><br>

     <label>Priority 3</label> <br>
    <input name="task3"><br>


    <button> Submit Tasks</button>

</form>

    </div>
    </center>

</body>
</html>