<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<!-- Place your jinjas2 code here to render the correct name !-->


<h1> Home: A collection of {% if name %} {{name}}'s {% endif %} tasks</h1>


<!-- Place your jinjas2 code here to render all tasks !-->

{% if tasks %}
{% for task in tasks %}

<p>{{task}}</p>

{% endfor %}
{% endif %}

<a href="/entry"><button>Enter Tasks</button></a>
<a href="/"><button> Index Page</button></a>


</body>
</html>