<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<center><h1> Sign up for an account</h1></center>

<!-- Show example of get and then show example of post to explain why it is better !-->

<center>
    <div>

 <form action="/confirm-signup" method="post">

    <label>Username</label> <br>
    <input name="username"><br>

    <label>Password</label><br>
    <input name="password"><br>

    <label>Confirm Password</label> <br>
    <input name="confirm-password"><br>

    <label>Email</label> <br>
    <input name="email"><br>

    <button> Sign Up</button>

</form>

    </div>
    </center>


</body>
</html>